body, h1, h2, p, form, input, ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

header {
  width: 200px;
  height: 100%;
  background-image: linear-gradient(to left, rgb(102,128,106, 1), rgb(102,128,106, 0.5));
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: space-between;
}

main {
  margin-left: 200px;
  padding-top: 40px;
  margin-bottom: 80px;
}

.main-content {
  padding: 80px 40px 0px 40px;
}

img {
  width: 100%;
}

.welcome {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.top-img {
  border-radius: 10px;
  margin-bottom: 32px;
}

.logo {
  text-align: center;
  margin-top: 80px;
}

.logo-icon{
  width: 120px;
  border-radius: 10px;
}

.top {
  background-image: url(https://i.postimg.cc/htTrwd6x/pexels-cottonbro-4709289.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 250px;
}

.top h1 {
  color: white;
  letter-spacing: 5px;
  padding: 50px;
  margin: auto 20px;
  opacity: 0.8;
  text-align: center;
}

.btn-wrapper {
  margin: auto 50px;
}

.linkedin {
  color: white;
  background-color: #0e76a8;
  padding: 5px 10px;
  display: block;
  border-radius: 5px;
  border: 1px solid rgb(135, 122, 122);
  margin-bottom: 5px;
  text-align: center;
}

.github {
  color: white;
  background-color: black;
  padding: 5px 10px;
  display: block;
  border-radius: 5px;
  border: 1px solid rgb(135, 122, 122);
  text-align: center;
}

.linkedin:hover {
  opacity: 0.7;
}

.github:hover {
  opacity: 0.7;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.menu-list a {
  color: white;
  display: block;
  padding: 16px 24px;
}

.menu-list {
  margin-bottom: 40px;
}

.menu-list a:hover {
  background-color: #ff7b65;
}

header .material-icons {
  display: none;
}

.intro {
  margin-bottom: 80px;
  display: flex;
}

.intro-img {
  display: inline-block;
  width: 10%;
  height: 10%;
}

.intro-msg {
  display: inline-block;
  margin: auto 20px;
}

.comment {
  color: #808080;
  display: flex;
  flex-direction: row;
  font-size: 18px; 
}

.language {
  color: #000000;
  display: block;
  border: 2px solid #c4c4c4;
  border-radius: 10px;
  padding: 16px;
  font-size: 18px; 
}

.language-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, auto));
  gap: 16px;
  margin-bottom: 80px;
}

.button {
  background-color: black;
  color: white;
  font-size: 18px;
  padding: 16px 40px;
  border-radius: 30px;
}

.button:hover {
  background-color: #808080;
}

.education {
  display: flex;
  margin-bottom: 80px;
}

.school {
  margin: 5px 0px 5px 15px;
}

.uci-icon {
  width: 20%;
  height: 20%;
  margin: auto;
}

.course-img {
  width: 40%;
  height: 40%;
  border-radius: 10px;
  margin: auto 10px;
}

.course-wrapper {
  display: flex;
  align-content: space-between;
  grid-template-columns: repeat(auto-fit, minmax(315px, auto));
  gap: 24px;
}

.course-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 24px;
}

.course-content {
  margin: auto 30px;
}

.course-list {
  font-size: 18px;
  margin-bottom: 24px;
  margin-left: 30px;
  list-style-type: disc;
}

.course {
  margin: 5px;
}
